*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    justify-content: center;
    align-items: center;
    width: 100%;
}

[class^=col] {
    background-color: rgb(0, 108, 250);
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white 1px;
    width: 100%;
}

[class*=col-offset] {
    background-color: white;
    height: 50px;
    display: flex;
    margin: .1rem .1rem;
}

.col-6 .row {
    padding: .5rem ;
}

.nested {
    background-color: rgb(59, 225, 108);
    margin: 0 auto;
    border: none;
    flex: 1 1 auto;
    text-align: center;
    margin: .1rem .1rem;
    height: 100%;
    padding: .5rem .3rem;
}

.big {
    height: 100px;
}

.top {
    align-items: flex-start;
}

.middle {
    align-items: center;
}

.bottom {
    align-items: flex-end;
}

.row .nested {
    height: 30px;
}

.col-7 .row,
.col-5 .row {
    padding: 0 1rem;
}

.items {
    background-color: rgb(59, 225, 108);
    border: none;
    height: 30px;
}
