*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    justify-content: center;
    align-items: center;
    width: 100%;
}

[class^=col] {
    background-color: rgb(0, 108, 250);
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white 1px;
    width: 100%;
}

[class*=col-offset] {
    background-color: white;
    height: 50px;
    display: flex;
    margin: .1rem .1rem;
}

.col-6 .row {
    padding: .5rem ;
}

.nested {
    background-color: rgb(59, 225, 108);
    margin: 0 auto;
    border: none;
    flex: 1 1 auto;
    text-align: center;
    margin: .1rem .1rem;
    height: 100%;
    padding: .5rem .3rem;
}

.row .vertical-row {
    flex-direction: column;
    height: 150px;
    flex-wrap: wrap;
}

.items {
    background-color: rgb(59, 225, 108);
    border: none;
    /* width: 100px; */
}

.col-12 .space {
    display: flex;
    justify-content: space-around;
}

.col-12 .between {
    display: flex;
    justify-content: space-between;
}